@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap);
// Twitter Colors
$twitter-blue: #1da1f2;
$twitter-dark-blue: #1a91da;
$twitter-light-blue: #a4d9f9;
$twitter-dark: #14171a;
$twitter-light: #e1e8ed;
$twitter-extra-light: #f5f8fa;
$twitter-gray: #657786;
$twitter-red: #e0245e;
$twitter-green: #17bf63;
$twitter-yellow: #ffad1f;
// mixin
@mixin borderMix {
  border: 2px solid #ccd6dd;
}
//root
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.btn-primery {
  cursor: pointer;
  border: none;
  margin: 3px;
  padding: 10px;
  border-radius: 8px;
  background-color: $twitter-blue;
  color: $twitter-light;
}

.card {
  @include borderMix();
  border-radius: 8px;
}

nav {
  background-color: $twitter-extra-light;
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  height: 4rem;
  justify-content: space-between;
  box-shadow: 0px 0px 10px $twitter-gray;
  .logo {
    padding: 6px;
    font-size: 2.5rem;
    font-weight: 800;
    cursor: pointer;
    span {
      color: $twitter-blue;
    }
  }
  .items {
    width: 20%;
    gap: 30%;
    display: flex;
  }
  .sign {
    gap: 10px;
    display: flex;
    padding-right: 10px;
  }
}

.hero {
  display: flex;
  position: relative;
  min-height: calc(100vh - 4rem);
  .about-servece {
    animation: par 2s ease;
    margin: 20px;
    color: $twitter-dark;
    font-size: 2rem;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .img-wraper {
    margin: 10px;
    position: relative;
    top: 60px;
    min-width: 50%;
    max-height: 600px;
    box-shadow: 9px 9px 25px $twitter-gray;
    background: linear-gradient(
      130deg,
      $twitter-light-blue,
      $twitter-light-blue,
      $twitter-light-blue,
      #ffffff
    );
    animation: gri 2s linear;
    border-radius: 20px;
    .imag-container {
      height: 400px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
.services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 80px 0px;
  gap: 50px;
  .service-Wraper {
    display: flex;
    padding: 20px;
    align-items: center;
    height: 350px;
    width: 350px;
    flex-direction: column;
    img {
      height: 15rem;
    }
    .pWraper {
      color: $twitter-extra-light;
      width: 250px;
      height: 60px;
      background-image: url(./image/N60.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      p {
        padding-top: 8px;
        padding-left: 30px;
      }
    }
  }
}
.feedBack {
  display: flex;
  width: 100vh;
  flex-direction: column;
  padding-left: 40vh;
  .sladerWraper {
    cursor: grab;
    overflow: scroll;
    width: 90vh;
    display: flex;
    gap: 15px;
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
  }
}

//-------------media---------------
@media (max-width: 650px) {
  .hero {
    flex-direction: column;
    .about-servece {
      position: static;
    }
  }
}
@keyframes par {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes autoScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
