@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap);
// Twitter Colors
$twitter-blue: #1da1f2;
$twitter-dark-blue: #1a91da;
$twitter-light-blue: #a4d9f9;
$twitter-dark: #14171a;
$twitter-light: #e1e8ed;
$twitter-extra-light: #f5f8fa;
$twitter-gray: #657786;
$twitter-red: #e0245e;
$twitter-green: #17bf63;
$twitter-yellow: #ffad1f;
// mixin
@mixin borderMix {
  border: 2px solid #ccd6dd;
}
//root
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.btn-primery {
  cursor: pointer;
  border: none;
  margin: 3px;
  padding: 10px;
  border-radius: 8px;
  background-color: $twitter-blue;
  color: $twitter-light;
}

.card {
  @include borderMix();
  border-radius: 8px;
}

nav {
  background-color: $twitter-light;
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  height: 4rem;
  justify-content: space-between;
  box-shadow: 0px -1px 5px $twitter-gray;
  .logo {
    font-size: 2rem;
    cursor: pointer;
    span {
      color: $twitter-blue;
    }
  }
  .items {
    width: 20%;
    gap: 30%;
    display: flex;
  }
  .sign {
    gap: 10px;
    display: flex;
    padding-right: 10px;
  }
}

.hero {
  display: flex;
  position: relative;
  background: $twitter-blue;
  min-height: calc(100vh - 4rem);
  .about-servece {
    color: $twitter-light;
    font-size: 2rem;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .img-wraper {
    position: relative;
    min-width: 60%;
    .imag-container {
      height: 500px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
.services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 80px 0px;
  .service-Wraper {
    display: flex;
    padding: 20px;
    align-items: center;
    height: 200px;
    width: 200px;
    flex-direction: column;
    img {
      height: 6rem;
    }
    .pWraper {
      width: 150px;
      background-image: url(./image/N60.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      p {
        padding-left: 30px;
      }
    }
  }
}

//-------------media---------------
@media (max-width: 650px) {
  .hero {
    flex-direction: column;
  }
}
